/* Custom */
.window {
  position: relative;
  border-radius: 4px;
  min-width: 150px;
}

.title-bar {
  height: 40px;
  background-color: #262a2e;
  position: relative;
  border-top-left-radius: 4.2px;
  border-top-right-radius: 4.2px;
}

.title-text {
  color: #afafaf;
  position: absolute;
  left: 80px;
  bottom: 0;
  margin: 0;
  padding: 7px 16px;
  font-size: 15px;
  min-width: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text span {
  outline: none;
}

.title-text img {
  width: 20px;
  margin-right: 10px;
}

.title-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.title-button {
  background-color: #3a3a3a;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin: 0 5px;
}

.title-button:nth-child(1) {
  background-color: #ff5656;
}
.title-button:nth-child(2) {
  background-color: #ffbc6a;
}
.title-button:nth-child(3) {
  background-color: #67f772;
}

#code-editor > pre {
  padding: 0px !important;
  overflow: auto;
}

#code-editor > pre > pre {
  margin: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#code-editor-textarea {
  outline: transparent solid 2px;
  outline-offset: 2px;
  caret-color: white;
  font-family: inherit !important;
  color: transparent !important;
  padding-left: 21px !important;
  padding-right: 21px !important;
}
